[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"
Driver_path = "C:\FireFoxDriver\geckodriver.exe"

[packages]
django = "*"
djangorestframework = "*"
django-cors-headers = "*"
djangorestframework-bulk = "*"
mysqlclient = "*"
django-rest-auth = "*"
django-allauth = "*"
selenium = "*"
requests = "*"
urllib3 = "*"
django-filter = "*"

[dev-packages]

[requires]
python_version = "3.9"
