[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "~=3.2.10"
djangorestframework = "*"
django-cors-headers = "*"
djangorestframework-bulk = "*"
mysqlclient = "*"
django-rest-auth = "*"
django-allauth = "*"
selenium = "*"
requests = "*"
urllib3 = "*"
django-filter = "*"
web3 = "*"
django-environ = "*"

[dev-packages]

[requires]
python_version = "3.9"
